@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

@import "tailwindcss";

[data-aos] {
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

body {
  background-color: #111111;
  color: #e9e9f1;
  padding: 30px 40px;
  font-family: "Syne", sans-serif;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  body {
    padding: 30px 20px;
  }
}
